	#login_outer{
		background-color:#6AB7EE;
		height: 100%;

	}
	#login_inner{
		background-color:#FFFFFF;
		margin-top: 10%;
		border-radius:3px; 
	}
	.error{
		display: none;
		color: red;
		margin-bottom: 10px;
	}
	.visible{
		display: block;
	}
	.container{
		background-color: #FFFFFF;
		height: 100%;
	}
	.content{
		padding-top: 60px;
	}
	.atten{
		border-right: solid 1px; 
	}
	#for{
		display: inline;
	}
	.marks{
		border-radius: 3px;
	}